<!DOCTYPE html>
<html lang="en">

</html>
<!--HEAD-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - La Escondida</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/productDetail-styles.css">
</head>

<body>

    <!-- Header -->
    <header>
        <div class="user">
            <% if(locals.isLogged){ %>
                <a href="/login"><i class="fas fa-user"></a></i>
                <%= locals.userLogged.name %>
                    <select>
                        <option>
                            <a href="/">Logout</a>
                        </option>
                        <option>
                            <a href="/profile">Perfil</a>
                        </option>
                    </select>
                    <% } else {%>
                        <ul>
                            <li><a href="/register">Registrarse</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                        <% } %>
        </div>
        <form action="/" method="POST" class="search">
            <input type="search" name="buscador" placeholder="Buscar Productos...">
            <i class="fas fa-search"></i>
        </form>

        <div class="cart">
            <a href="/productCart"><i class="fas fa-shopping-cart"></a></i>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#cervezas">Cervezas</a></li>
                <li><a href="#vinos">Vinos</a></li>
                <li><a href="#licores">Licores</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Page content -->
        <section>
            <h1 class="title">Producto seleccionado</h1>
                <article class="productos">
                <h1 class="name-product">
                    <%= productResult.name%>
                </h1>
                <div class="img-products">
                <img src="/images/bebidas/<%= productResult.image%>" alt="<%= productResult.name%>">
                </div>
                <h4 class="category-description">
                    <%= productResult.description%>
                </h4>
                <h4 class="category-product">
                    <% for( let i = 0; i < categorias.length;i++){ %>
                        <%if(categorias[i].idCategoria == productResult.Categoria_id){ %>
                           <%= categorias[i].name%>
                         <% } %>
                    <% } %>
                    
                </h4>
                <h4 class="category-size">
                    <%= productResult.size%>
                </h4>
                <h4 class="price-product">$<%= productResult.price%>
                </h4>
                </article>
        </section>
        <a href="/products/<%= productResult.idProductos%>/edit"><input type="submit" name="edit" value="Editar"></a>
        <form action="/products/<%= productResult.id%>?_method=DELETE" method="POST" enctype="multipart/form-data">
        <input type="submit" name="eliminar" value="Eliminar">
        </form>
    </main>
    <!-- Footer -->
    <div>
        <%- include('../partials/footer') %>
    </div>
